*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#45f773 0.5px, transparent 0.5px), radial-gradient(#45f773 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

/*Estilo para la barra de Menú*/
.nav-enlace{
    display: inline-block;
    background-color: lightgray;
    color: black;
    padding: 10px, 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-enlace:hover{
    color: lightgreen;
    text-shadow: 1px 1px 2px black /*, 0 0 0.1em blue*/; 
}

nav{
    background-color: lightgray; 
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
}




/*Estilo para sección ppal*/
.parte-principal{
    display: flex;
    background-image: url(../img/cafe.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;  
    align-items: center;
    box-shadow: 5px 5px 5px;
    margin: 5px;
   
    

}

 .parte-principal div{
    padding: 40px;
}   

.parte-principal h1{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.5),0 0 0.1em blue ;
    
}

.parte-principal p{
    font-style: Arial;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: lightgreen;
    text-shadow: 1px 2px 10px black, 0 0 0.1em blue;  
    font-weight: bold;
}



/* Estilo secciones secundarias */

 .secundaria{
    display: flex; 
    height: 20dvh;
    background-color: white;  
    justify-content: center;
    align-items: center;

} 

  .secundaria h2{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
} 

.secundaria h2:hover{
    color: lightgreen;
    text-shadow: 1px 1px 2px black, 0 0 0.5em blue;
}

.secundaria2{
    display:flex;
    padding: 40px;
    justify-content: center;
    background-color: #fff;
    
} 
.contenedor{
    display:flex; 
    justify-content:center;
    padding: 30px;
    background-color: white;
    
}

.contenedor div{
    padding: 30px;
    justify-content: space-between;
    margin-left: 50px;
}

.contenedor div p{
    text-transform: uppercase;
    
}

.imagen{
    width: 100px;
    height: 150px;
    margin-right: 25px; 
}

.imagen:hover{
    transform: scale(1.4);
}

.boton{
   display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #b3781f;
	border: 1px solid #b3781f;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}



/*Estilos para el slider*/

.carrusel {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
    margin: 10px;
  }
  
  .carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carrusel-item:hover {
    transform: scale(1.2);
  }

  
   

/* Responsive Design con 3 puntos de corte*/

@media (min-width: 1280px) {

    nav{
    }
    .nav-enlace{
        margin: 10px 0;
    }   
    .parte-principal{
        margin: 10px 0; 
    }   
    .contenedor{
        background-color: white;
    }
    .imagen{
        margin: 10px 0;
    }
} 

@media (min-width: 640px) and (max-width: 1280px) {
    nav{
        flex-direction: column;      
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .parte-principal{
         margin: 10px 0; 
    } 
    .contenedor{
        
        flex-direction: column;
        background-color: lightblue;    
    }
    .imagen{
        margin: 20px 0;
    }

    footer{

        flex-direction: column;
        background-color: lightskyblue;           

    }

 
} 

@media (max-width: 640px) {

    nav{
        flex-direction: column;
        min-width: 300px; 
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .parte-principal{
         min-width: 300px;       
        
    }
    .parte-principal h1{
        font-size: 95%;
        color: yellow;
    }
    .contenedor{
        background-color: lightyellow;
        flex-direction: column;
        min-width: 300px;
    }
  
    .imagen{
        margin: 20px 0;
        
    }

    
} 
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*fin responsive design*/







